body{
    font-size: 14px;
    font-family: 'Poppins';
    background-color: white;
}
@media(max-width: 991px){
   
    body p, h1, a, h2, h3, h4, h5, h6{
        text-align: center;
    }
    .para-color{
        text-align: center!important;
    }
    .button-style{
        display: block;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .col-gap{
        margin-top: 20px;
      }
    
}
.navbar img{
    width: 100px;
    height: auto;
}
.navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link.active{
    color: #0e9f6a;
    font-weight: bold;
}
.navbar .login-btn{
    background-color: #0e9f6a;
    border:none;
    border-radius: 10px;
    padding: 10px 25px;
    transition: 0.3s ease;
}
.navbar button:hover{
    opacity: 0.7;
}
.nav-shadow{
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}


/* --------------------toggle button css start----------------------- */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #15865d;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #0e9f6a;
}



/* --------------------toggle button css end----------------------- */



@media(max-width: 991px){
    .navbar .login-btn{
        display: block;
        margin: 0 auto;
    }
}



/* --------------------------------Common styles start------------------------------------ */

.head-color{
    color: #0e9f6a;
    font-weight: bolder;
}
/* .head-margin{
    margin-bottom: 8px;
} */
.para-color{
    color: rgb(134, 128, 128);
    text-align: justify;
}
.green-icon{
    color: #8ce0c1;
    font-size: 20px;
    padding: 2px;
}
.yellow-icon{
    color: #FFDB7F;
    font-size: 20px;
    padding: 2px;
}
.button-style{
    background-color: #0e9f6a;
    color:#fff;
    border:none;
    position:relative;
    border-radius: 10px;
    padding: 10px 20px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.button-style:hover{
    background:#fff;
    color:#0e9f6a;
  }
  .button-style:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #0e9f6a;
    transition:400ms ease all;
  }
  .button-style:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button-style:hover:before, .button-style:hover:after{
    width:100%;
    transition:800ms ease all;
  }



  /* --------------------------------Common styles end------------------------------------ */





/* --------------------------------Home start------------------------------------ */

.home{
    margin-top: 150px;
}
.home .home-head-1 {
    margin-top: 150px;
}
.home .home-head-2 {
    margin-top: 130px;
}
.home a{
    text-decoration: none;
}
@media(max-width: 991px){
    .home{
        margin-top: 50px;
        padding: 15px;
    }
}


/* --------------------------------Home end------------------------------------ */





/* --------------------------------About start------------------------------------ */

.about{
    margin-top: 50px;
    background-color: #eaf5f1;
    padding-top: 90px;
    padding-bottom: 90px;
}
.about img{
    border-radius: 15px;
}
.about .card-1{
    width: 300px;
    padding: 10px;
    border-radius: 22px;
    border: 0;
    margin-left: 180px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 10px;
}
.about  h3{
    margin-top: 100px;
}

.about .card-2{
    width: 360px;
    margin-left: 130px;
    padding: 10px;
    border-radius: 22px;
    border: 0;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 10px;
}
@media(max-width: 991px){
    .about .card-1{
        margin: 0 auto;
    }
    .about .card-2{
        margin: 0 auto;
        margin-bottom: 30px;
        width: auto;
    }
    .about{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
    }
   
}



/* --------------------------------About end------------------------------------ */






/* --------------------------------about-us start------------------------------------ */


.about-us{
    margin-top: 200px;
}
.about-us .about-us-para{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.about-contents{
    margin-top: 100px;
}
@media(max-width: 991px){
    .about-us .about-us-para{
        width: auto;
    }   
}

/* --------------------------------about-us start------------------------------------ */








/* --------------------------------how-it-works start------------------------------------ */

.how-it-works{
    margin-top: 100px;
}
.how-it-works .woks-para{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.how-it-works iframe{
    width: 350px;
    height: 200px;
}
@media(max-width: 991px){
    /* .how-it-works{
        padding: 10px;
    } */
    .how-it-works iframe{
        width: auto;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .how-it-works .woks-para{
        width: auto;
    }
    .how-it-works .card{
        width: auto;
    }
    .card-up-img{
        width: auto;
        height: auto;
    }
    .card-down-img{
        width: auto;
        height: auto;
    }
  
}



/* --------------------------------how-it-works end------------------------------------ */




/* --------------------------------popular design start------------------------------------ */

.popular-design{
    margin-top: 100px;
}
.popular-design .popular-design-para{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.popular-design-carousel img{
    border-radius: 10px;
}
.carousel-control-prev .carousel-control-prev-icon{
    margin-top: 500px;
    margin-left: 65vh;
    color: #76b9a1;
    font-size: 20px;
}
.carousel-control-next .carousel-control-next-icon{
    margin-top: 500px;
    color: #76b9a1;
    font-size: 20px;
    margin-left: -115vh;
}
@media(max-width: 991px){
    .popular-design .popular-design-para{
        width: 100%;
    }
    .popular-design-carousel{
       padding: 20px;
    }
    .popular-design-carousel img{
        margin-bottom: 20px;
    }
}

/* --------------------------------popular design end------------------------------------ */





/* --------------------------------testimonial start------------------------------------ */

.testimonial{
    margin-top: 150px;
    background-color: #eaf5f1;
    padding-top: 90px;
    padding-bottom: 145px;
}
.testimonial .testimonial-para{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.testimonial  img{
    width: auto;
    height: auto;
    border-radius: 10px 0px 10px 0px;
    height: 200px;
    background-color: #bae7d7;
    width: auto;
}
.testimonial h6{
    color: #0e9f6a;
}
.testimonial .review-bg .designation{
    color: #181717;
}
.testimonial .testimonial-bg{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px 0px 20px 0px;
}
.testimonial .quote-icon{
    font-size: 40px;
    color: #71c0a3;
}
.testimonial .carousel-indicators {
    top: 255px;
    margin-bottom: 50px;
}
.testimonial .carousel-indicators button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #62968a;
}
@media(max-width: 991px){
   
    .testimonial .reviews{
        margin-top: 0;
    }
    .testimonial{
        padding-left: 15px;
        padding-right: 15px;
    }
    .testimonial  img{
        margin: 0 auto;
        display: block;
    }
    .testimonial .testimonial-para{
        width: 100%;
    }
    .testimonial  h6{
        margin-top: 15px;
    }
}

/* --------------------------------testimonial end------------------------------------ */






/* --------------------------------pricing start------------------------------------ */

.pricing{
    margin-top: 100px;
}
.pricing img{
    width: 70px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
    background-color: #f4f7f6;
    padding: 10px;
    border-radius: 10px;
}
.pricing .pricing-para{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.pricing .card{
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    padding: 20px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    border-radius: 15px;
}
.pricing .card:hover, .pricing .card:focus, .pricing .card.active{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pricing .card button{
    padding: 10px 40px;
    color: #0e9f6a;
    border: 2px solid #0e9f6a;
    border-radius: 10px;
    background-color: transparent;
    transition: 0.3s ease;
    box-shadow: none;
}
.pricing .card button:hover{
    background-color: #0e9f6a;
    color: white;
}
.pricing .card .date-pricing{
    font-size: 16px;
}
@media(max-width: 991px){
    .pricing {
        padding: 15px;
    }
    .pricing .pricing-para{
        width: 100%;
    }
    .pricing .card{
        margin-bottom: 50PX;
    }
    .pricing .col-gap{
        margin-bottom: 15PX;
    }
}


/* --------------------------------pricing end------------------------------------ */





/* --------------------------------footer start------------------------------------ */

.footer{
    margin-top: 100px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #02100C;
}
.footer h5{
    color: white;
    transition: 0.3s ease;
}
.footer  a{
    color: rgb(196, 191, 191);
    text-decoration: none;
    transition: 0.3s ease;
}
.footer  a:hover{
    color: white;
}
.footer .footer-links{
    margin: 0 auto;
}
@media(max-width: 991px) {
    .footer{
        text-align: center;
    }
    .footer h5{
        margin-top: 20px;
    }
}

/* --------------------------------footer end------------------------------------ */





/* --------------------------------save-template start------------------------------------ */

.save-template{
    margin-top: 200px;
}
.save-template form{
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;    
    padding: 50px 30px ;
    border-radius: 22px;
    background-color: #eaf5f1;
}
.save-template form input{
    font-size: 13px;
    padding: 15px;
    border-radius: 22px;
    border: 0;

}
.save-template  img{
    height: 550px;
    width: auto;
}

.save-template .btn-file {
    position: relative;
    overflow: hidden;
  }
  .save-template .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }
  .save-template .file-input-label {
      padding: 0px 10px;
      display: table-cell;
      vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .save-template  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }
  .save-template .btn-browse{
    background-color: #c3d4ce;
    border-radius: 22px;
    font-size: 13px;
    padding-top: 12px;
  }
  @media(max-width: 991px){
    .save-template form{
        width: 100%;
        margin-bottom: 20px;
    }
    .save-template{
        padding: 15px;
        margin-top: 150PX;
    }
    .save-template  button{
        text-decoration: none;
    }
    .input-group{
        flex-wrap: nowrap;
    }
  }

/* --------------------------------save-template end------------------------------------ */





/* --------------------------------use-template start------------------------------------ */

.use-template{
    margin-top: 200px;
}
.use-template .search input{
   justify-content: right;
   width: 400px;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   border-radius: 0;
}
.use-template .use-template-para{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    
}

.use-template #flexbox {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .use-template .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .use-template  .column img {
    vertical-align: middle;
    margin-top: 8px;
    filter: grayscale(70%);
  }
  
  .use-template .column:nth-child(even) {
    display: flex;
    flex-direction: column-reverse;
  }
  
  @media screen and (max-width: 800px) {
    .use-template   .column {
      flex: 50%;
      max-width: 50%;
    }
    .use-template .use-template-para{
        width: auto;
    }
    .use-template .search input{
        width: auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    .use-template  .column {
      flex: 100%;
      max-width: 100%;
    }
  }


  .use-template  .pagination {
    display: inline-block;
    margin: 0 auto;
  }
  .use-template  .pagination a.active, .use-template  .pagination a:focus, .use-template  .pagination a:hover{
    background-color: #0e9f6a;
    border-radius: 50%;
    color: white;
  }
  .use-template  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    transition: 0.2s ease;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
  }
/* --------------------------------use-template end ------------------------------------ */





/* --------------------------------poster-download start------------------------------------ */

.poster-download{
    margin-top: 200px;
}
.poster-download img{
    width: 450px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.poster-download  h5{
    color: rgb(87, 80, 80);
}
.poster-download i{
    font-size: 30px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 22px;
    transition: 0.5s ease;
}
.poster-download  a{
    text-decoration: none;
    transition: 0.3s ease;
}
.poster-download i:hover{
    opacity: 0.7;
}
.poster-download .gallery i{
    background-color:  #99D3E5;
}
.poster-download .gallery a:hover{
    color: #99D3E5;
}
.poster-download .whatsapp a:hover{
    color: #A3D9A8;
}
.poster-download .facebook a:hover{
    color: #4D8CC6;
}
.poster-download .new-poster a:hover{
    color: #C64D4D;
}
.poster-download .whatsapp i{
    background-color: #A3D9A8;
}
.poster-download .facebook i{
    background-color:  #4D8CC6;
    padding: 10px 18px !important;
}
.poster-download .new-poster i{
    background-color: #C64D4D;
}
@media(max-width: 991px){
    .poster-download i{
        margin-top: 25px;
    }
    .poster-download{
        margin-top: 150px;
        padding: 10px;
    }
}



/* --------------------------------poster-download end------------------------------------ */







/* --------------------------------contact end------------------------------------ */

.contact{
    margin-top: 200px;
}
.contact .contact-para{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.contact img{
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.contact form{
    width: 450px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 22px;
    margin-top: 50px;
}
.contact form input, .contact form textarea{
    border: 0;
    border-radius: 15px;
    background-color: #f2f8f6;
    font-size: 13px;
}
.contact form input{
    padding: 15px;
}
.contact form  button{
    padding: 10px 30px !important;
}
@media(max-width: 991px){
    .contact .contact-para{
        width: 100%;
    }
    .contact form{
        width: auto;
        margin: 0 auto;
    }
    .contact {
        padding: 15px;
    }
    .contact{
        margin-top: 150px;
    }
}

/* --------------------------------contact end------------------------------------ */








/* --------------------------------login start------------------------------------ */

.login{
    margin-top: 200px;
}
.login form{
    width: 500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 50px;
    border-radius: 15px;
}
.login form .forgot-a{
    text-align: right;
    display: block;
    text-decoration: none;
    transition: 0.5s ease;
}
.login form .forgot-a:hover{
    color: #74cead;
}
.login form input{
    border-bottom: 1px solid #0e9f6a;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}
.login form button{
    padding: 15px 100px;
}
.hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid rgb(201, 194, 194);
  }
  .form .or{
    margin-top: 50px;
  }
  .login .social-icons {
    margin: 0 auto;
    justify-content: center;
  }
  .login .social-icons img{
    width: 30px;
    height: auto;
    transition: 0.3s ease;
  }
  .login .social-icons img:hover{
    opacity: 0.6;
  }
  .login .sign-up-now {
    text-decoration: none;
  }
  .login .sign-up-now:hover{
    color: #74cead;
  }
.login .bottom-links{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: block;
}
.login ::placeholder { 
    color: rgb(211, 211, 211);
    opacity: 1; /* Firefox */
  }
  
  
@media(max-width: 991px){
    .login {
        padding: 15px;
        margin-top: 150px;
    }
    .login form{
        width: auto;
    }
}

/* --------------------------------login end------------------------------------ */





/* -- ------------------------------customer logos start----------------------------------- -- */

.customer-logos{
    padding: 70px;
    background-color: #f5f5f5;
}
.customer-logos-carousel img{
    width: 80px;
    height: auto;
}
@media(max-width: 991px){
    .customer-logos img{
        margin: 0 auto;
        display: block;
        margin-top: 30px;
    }
}



/* -- ------------------------------customer logos end----------------------------------- -- */





/* --------------------------------faq page start------------------------------------- */
.faq{
    margin-top: 100px;
}

.faq-page{
    margin-top: 200px;
}
.content {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    padding: 0 60px 0 0;
  }
  .faq a:hover, .faq-page a:hover{
    color: #62968a;
  }
  .faq a, .faq-page a{
    text-decoration: none;
  }
  .centerplease {
    margin: 0 auto;
    max-width: 270px;
    font-size: 40px;
  }
  .faq-bg p{
    color: rgb(134, 128, 128);
  }
  .faq-bg{
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 30px;
    margin-bottom: 20px;
    /* background-color: #e7f3ef; */
  }
  .question {
    color: rgb(134, 128, 128);
    position: relative;
    
    border-bottom: 1px solid #eeeaea;
    margin: 0;
    padding: 20px 20px 20px 50px;
    display: block;
    width:100%;
    cursor: pointer;
  }
  .question:hover, .question:focus, .question.active{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .answers {
    font-weight:300;
    border: 1px solid rgb(243, 242, 242);    
    background-color:rgb(255, 255, 255);
    padding: 0px 15px;
    margin: 0px 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
  }
  
  .questions:checked ~ .answers{
    height: auto;
    opacity: 1;
    padding: 15px;
  }
  
  .plus {
    color: rgb(177, 174, 174);
    position: absolute;
    margin-left: 10px;
    margin-top: 17px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }
  
  .questions:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .questions {
    display: none;
  }
  
  
/* ----------------------------------faq page end---------------------------------------- */

